<!--<h1>Wolf Summer: rails1.wolfsummer.tk</h1>-->
<style type="text/css">
	
</style>
<div class="backdrop">
	<p class="text text-center">WOLF SUMMER</p>
</div>
<h3 class="text-center"><a href="http://rails1.wolfsummer.tk">rails1.wolfsummer.tk</a></h3>
<%#= image_tag("snow-wolf.jpg", alt: "Wolf logo") %> 