<% provide(:title, "Create Post") %>

<div class="container pb-4 mb-4">
	<h1><i class="fas fa-pencil-alt"></i> New post</h1>
	<span>Select appropriate fields for your post.</span>
	<form>
		<div class="form-row pt-4">
			<select class="form-control">
				<option value="" disabled selected hidden>Type of post</option>
				<optgroup label="Type of post">
					<option>For sale</option>
					<option>Personals</option>
					<option>Housing (offering)</option>
					<option>Housing (need)</option>
					<option>Community</option>
					<option>Service offered</option>
					<option>Campus job</option>
					<option>Job off-campus</option>
				</optgroup>
			</select>
		</div>
	</form>
</div>