/* Import */
@import "bootstrap/scss/bootstrap";
/*@import "bootstrap";*/ /* can also work */
/*@import '@fortawesome/fontawesome-free';*/

/* Color Variables */
$su-blue: #083472;

/* Bootstrap Overrides: SUpost */
.navbar {

	.navbar-collapse {
		background-color: $su-blue;
		padding: 5px;
		border-radius: 10px 10px 0px 0px;
	}

	.navbar-brand {
		font-weight: bolder;
	}
}

.navbar-dark {

	button.navbar-toggler:focus {
		outline: none;
	}

	.navbar-toggler-icon {
		background: image-url('../../assets/images/menu.svg') center;
		background-color: $su-blue;
		width: 2em;
		height: 2em;
		border-radius: 5px;
	}

  .fas.fa-bars {
    color: #080808;
  }
}

.bg-su-blue {
	background-color: $su-blue;
}

.card {
	border-radius: 0px;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: $su-blue;
	border-color: $su-blue;
}

.btn-primary:not(:disabled):not(.disabled):active {
	background-color: $su-blue;
	border-color: $su-blue;
}

.btn-primary:focus {
	box-shadow: none;
}

.btn:focus {
	outline: none;
}

.jumbotron {
	background-color: #cce3fb;
	height: 380px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-signup {
	min-height: calc(100vh - 96px);
	padding-bottom: 5em;
}

.su-text {
  font-family: "High School USA Sans";
}

.squada {
  font-family: 'Squada One';
}

.accordion.position-absolute {
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 100%;
}

.accordion .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

/* Footer */

.footer-card {
  background-color: #1b1a1a;
  border-radius: 10px 10px 0px 0px;
}

footer .copy span {
  font-size: .8rem;
}

footer .line::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #007bff;
}

footer .line::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 100%;
  width: 60px;
  height: 3px;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  animation: animate 3s linear infinite;
}

footer .line.one::after {
  /*animation: animateone 2s linear infinite;*/ 
}

footer .line.two::after {
  animation: animate 4s linear infinite;
}

footer .line.three::after {
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 0%;
  }
}

/* Custom carousel-item fixed image size*/

.img-fluid.banner  {
  /*height: 380px !important;
  width: 850px !important;*/
}

.img-fluid.img  {
  height: 300px;
  width: 250px;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.4);
}

.section-title {
  background-color: #cce3fb;
  padding: 0.75rem 1rem;
}

.rounded-circle { 
    border-radius: 50% !important;
    width: 140px;
    height: 140px;
    border-radius: 50% !important;
}

h2 {
  color: #5a5a5a;
}

/* Social link item */

.list-inline-item {
  display: inline-block;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

#contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
}
.color-code {
    color: #000000;
}