/* Import */
@import "bootstrap";

/* Color Variables */
$su-blue: #083472;


/* Bootstrap Overrides: SUpost */
.navbar {

	.navbar-collapse {
		background-color: $su-blue;
		padding: 5px;
		border-radius: 10px 10px 0px 0px;
	}

	.navbar-brand {
		font-weight: bolder;
	}
}

.navbar-dark {

	button.navbar-toggler:focus {
		outline: none;
	}

	.navbar-toggler-icon {
		background: image-url('../../assets/images/menu.svg') center;
		background-color: $su-blue;
		width: 2em;
		height: 2em;
		border-radius: 5px;
	}
}

.bg-su-blue {
	background-color: $su-blue;
}

.card {
	border-radius: 0px;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: $su-blue;
	border-color: $su-blue;
}

.btn-primary:not(:disabled):not(.disabled):active {
	background-color: $su-blue;
	border-color: $su-blue;
}

.btn-primary:focus {
	box-shadow: none;
}

.btn:focus {
	outline: none;
}

.jumbotron {
	background-color: #cce3fb;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-signup {
	min-height: calc(100vh - 96px);
	padding-bottom: 5em;
}