/*Typeahead*/

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

/* Profile card*/

.profile-card {
    border-color: #e9e9e9;
    border-radius: .5rem;
    box-shadow: 0px 7px 12px rgba(0,0,0,.115);
}

.profile-card .profile-picture {
    width: 8.15rem;
}

.profile-card .social-section a {
    padding: .3rem .4rem;
}

.profile-card .btn {
    border-radius: 2rem;
    padding: .4rem 0rem;
    border-color: #e0e0e0;
    color: #666;
    font-weight: 550;
    box-shadow: 0px 3px 5px rgba(0,0,0,.15);
}

.profile-card .btn:hover,
.profile-card .btn:active,
.profile-card .btn:focus {
    background-color: #007bff;
    color: #f0f0f0;
}

sub {
    bottom: 0em;
}

.lead {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #06131a;
    margin-bottom: 20px;
}


.feature-left {
    margin-bottom: 40px;
}

.feature-left .feature-icon {
    font-size: 50px;
    color: #4cbec5;
    display: inline-block;
    float: left;
    padding-right: 40px;
    padding-top: 7px;
}

.feature-left .feature-content {
    font-size: 20px;
}

.feature-left:last-child {}
textarea.form-control {
    height: 90px;
}

.required {}

.form-group {
    margin-bottom: 5px;
}

select.form-control:not([size]):not([multiple]) {
    height: 56px;
    color: #50595e;
}

.hero-section .form-control {
    border: 1px solid #8c897d;
    height: 58px;
}

.form-control {
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 56px;
    padding: 14px 18px;
    line-height: 1.42857143;
    border: 1px solid #d2d8db;
    background-color: #fff;
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-bottom: 14px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 1);
    -webkit-appearance: none;
}

.form-control:focus {
    color: #06131a !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(234, 231, 222);
    border-color: #06131a;
}

input::-webkit-input-placeholder {
    color: #50595e !important;
}

textarea::-webkit-input-placeholder {
    color: #50595e !important;
}

.input-group-addon {
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 12px;
}

.service-form {
    background-color: #fafbfb;
    border: 1px solid #e4e8ea;
    padding: 40px 40px 20px 40px;
}

.service-form-group {
    position: relative;
}

.form-icon {
    position: absolute;
    right: 14px;
    bottom: 15px;
    font-size: 13px;
}


