<% provide(:title, "Home") %>
<h1><%#= yield(:title) %></h1>

<div class="container-fluid pb-4">
	<div class="row">
		<aside class="col-2 d-none d-md-block p-md-0 px-lg-3">
			<div class="accordion" id="asideNav">
				<div class="card">
					<div class="card-header bg-su-blue" id="asideNavOne">
						<h2 class="mb-0">
							<button class="btn btn-block btn-primary" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Overview
							</button>
						</h2>
					</div>
					<div class="collapse show" id="collapseOne" aria-labelledby="asideNavOne" data-parent="#asideNav">
						<div class="card-body">
							List of items
						</div>
					</div>
				</div>
				<!--  -->
				<div class="card">
					<div class="card-header bg-su-blue" id="asideNavTwo">
						<h2 class="mb-0">
							<button class="btn btn-block btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Category
							</button>
						</h2>
					</div>
					<div class="collapse" id="collapseTwo" aria-labelledby="asideNavTwo" data-parent="#asideNav">
						<div class="card-body">
							List of items
						</div>
					</div>
				</div>
			</div>
		</aside>
		<main class="col-md-10 p-md-0 px-lg-3">
			<div class="row">
				<!-- Main 1 start -->
				<div class="col-lg-6">
					<section class="jumbotron jumbotron-fluid">
					  <div class="container">
					    <h1 class="display-4">Welcome to SUpost!</h1>
					    <p class="lead">SUpost is a marketplace where Stanford students and staff buy and sell their stuff. Posting requires an @stanford.edu email so, you can be sure that all items posted on SUpost are from people affiliated with Stanford.</p>
					    <div class="d-flex ">
					    	<button class="btn btn-primary">Post something</button>
					    </div>
					  </div>
					</section>
					<section>
						<h2>Recent Posts</h2>
						<div class="row row-cols-1 row-cols-md-2">
						  <div class="col mb-4">
						    <div class="card">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">Card title</h5>
						        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">Card title</h5>
						        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">Card title</h5>
						        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">Card title</h5>
						        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      </div>
						    </div>
						  </div>
						</div>
					</section>
				</div>
				<!-- Main 1 end -->
				<!-- Main 2 start -->
				<div class="col-lg-6">
					<section>
						<h2>Recent Posts</h2>
						<div class="row row-cols-1 row-cols-md-2">
						  <div class="col mb-4">
						    <div class="card">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">Card title</h5>
						        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">Card title</h5>
						        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">Card title</h5>
						        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">Card title</h5>
						        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      </div>
						    </div>
						  </div>
						</div>
					</section>
				</div>
				<!-- Main 2 end -->
			</div>
		</main>
	</div>
</div>