<% provide(:title, "Home") %>
<h1><%#= yield(:title) %></h1>

<div class="container-fluid">
	<div class="row">
		<aside class="col-2 bg-primary">sidebar</aside>
		<main class="col-10 bg-info">
			<div class="row">
				<div class="col">main content column 1</div>
				<div class="col">main content column 2</div>
			</div>
		</main>
	</div>
</div>