<footer class="container-fluid pt-n4 bg-dark px-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="footer-card p-4 mt-n4">
          <div class="d-flex justify-content-center">
            <%= link_to image_tag("su-dark.png", :height => "100px"), root_path, :class => "img-fluid" %>  
          </div>
          <div class="d-flex justify-content-center">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-facebook"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-google-plus"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <h3 class="text-light text-center">Stanford, California</h3>
        </div>
      </div>
      <div class="text-light col-12 col-md-12 col-lg-4 pt-4 pb-lg-4">
        <h4 class="line one position-relative d-inline">Navigate</h4>
        <ul class="list-group my-3">
          <li class="list-group-item list-group-item-action list-group-item-dark">
            <a class="text-dark d-block" href="#"><i class="fas fa-poll-h"></i> Post a Job</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">
            <a class="text-dark d-block" href="#"><i class="fas fa-portrait"></i> About</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">
            <a class="text-dark d-block" href="#"><i class="fas fa-user-shield"></i> Privacy</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">
            <a class="text-dark d-block" href="#"><i class="fas fa-align-left"></i> Terms</a>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">
            <a class="text-dark d-block" href="#"><i class="fas fa-info-circle"></i> Help</a>
          </li>
        </ul>
      </div>
      <div class="text-light col-12 col-md-12 col-lg-4 pt-4 pb-4 pb-lg-4">
        <h4 class="line two position-relative d-inline">Contact Us</h4>
        <ul class="list-group my-3 pb-4">
          <li class="list-group-item list-group-item-action list-group-item-dark">
            <span><i class="fas fa-phone-alt"></i> 310 0SU-POST</span>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">
            <a class="text-dark d-block" href="mailto: customer@supost.com"><i class="fas fa-envelope"></i> customer@supost.com</a>
          </li>
        </ul>
        <h4 id="three" class="line three position-relative d-inline">Subscribe to our newsletter</h4>
        <div class="input-group pt-4">
          <input class="form-control" type="text" name="subscribe" placeholder="Email">
          <div class="input-group-append">
            <button class="btn btn-success">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy text-light p-2 bg-secondary">
    <!--
      !important: please don't remove class "m-0"
      this is to remove horizontal scrollbar caused
      by row margin
    -->
    <div class="row m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <span class="d-block">A <a href="">Greg Wientjes</a> production.</span>
          <span class="d-block">SUpost is not sponsored by, endorsed by, or affiliated with Stanford University.</span>
          <span class="d-block">Copyright &copy; 2009 | SUpost</span>
        </div>
      </div>
    </div>
  </div>
</footer>