<footer class="position-relative mt-4 mb-4 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="footer-card position-absolute p-4 mt-n4">
          <div class="d-flex justify-content-center">
            <%= link_to image_tag("su-dark.png", :height => "100px"), root_path, :class => "img-fluid" %>  
          </div>
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-facebook"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-google-plus"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 col-lg-8"></div>
    </div>
  </div>
</footer>