<div class="container pb-4">
  <form class="">
    <div class="form-row">
      <div class="col">
        <div class="input-group mb-2">
          <input class="form-control" type="search" name="search" placeholder="Search something...">
          <div class="input-group-append">
            <button class="btn btn-success">Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>