<div class="accordion position-absolute" id="asideNav">
	<!-- mb-3 to avoid hitting footer edge -->
	<div class="sticky mb-3">
	<div class="card" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">
		<div class="card-header bg-su-blue p-0" id="asideNavOne">
			<h2 class="mb-0">
				<button class="btn btn-block btn-primary text-center text-xl-left" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<i class="fas fa-bars"></i><span class="d-none d-xl-inline"> Overview</span>
				</button>
			</h2>
		</div>
		<div class="collapse show" id="collapseOne" aria-labelledby="asideNavOne" data-parent="#asideNav">
			<div class="card-body p-0">
				<ul class="nav flex-column">
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="/posts">
							<div>
								<i class="fas fa-list-ul"></i>
								<span class="d-none d-xl-inline"> Posts</span>
							</div>
							<span class="badge badge-danger rounded-0 d-none d-md-inline px-2">10</span>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-home"></i>
								<span class="d-none d-xl-inline"> Housing </span>
							</div>
							<span class="badge badge-danger rounded-0 d-none d-md-inline px-2">4</span>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-dollar-sign" mr-2></i><span class="d-none d-xl-inline"> For Sale</span>
							</div>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-user-check"></i><span class="d-none d-xl-inline"> Jobs</span>
							</div>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-hand-holding-heart"></i><span class="d-none d-xl-inline"> Personals</span>
							</div>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-handshake"></i><span class="d-none d-xl-inline"> Campus Job</span>
							</div>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-users"></i><span class="d-none d-xl-inline"> Community</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-user-friends"></i><span class="d-none d-xl-inline"> Services</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--  -->
	<!-- <div class="card">
		<div class="card-header bg-su-blue p-0" id="asideNavTwo">
			<h2 class="mb-0">
				<button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Category
				</button>
			</h2>
		</div>
		<div class="collapse" id="collapseTwo" aria-labelledby="asideNavTwo" data-parent="#asideNav">
			<div class="card-body">
				List of items
			</div>
		</div>
	</div> -->
	</div>
</div>